* {
  margin: 0;
  padding: 0;
}


.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.middle {
  flex: 1;
  display: flex;
}

header {
  border: 5px solid goldenrod;
}
nav {
  border: 5px solid greenyellow;
}

nav, aside {
  flex: 1;
}

main {
  border: 5px solid blue;
  flex: 5;
}
aside {
  border: 5px solid purple;
}
footer {
  border: 5px solid red;
}