.wrapper {
  display: flex;
  /* align-items: flex-start; TB RESOLVERIA */
}

nav {
  position: sticky;
  bottom: 0;
  /* height: fit-content; RESOLVERIA*/
  border: 5px solid black;
  align-self: flex-start;
  /* tb resolve. */
}

main {
  flex: 1;
  position: relative;
}
img {
  width: 300px;
  height: 300px;
}