html {
	height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
}

h1 {
    margin-bottom: 25px;
}

.emphasy {
    color: rgb(35, 146, 35);
    font-style: normal;
    font-weight: bold;
}

section.top {
    background-color: #fff;
    padding: 80px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

section.bottom {
    margin-top: 50px;
}

.top-container {
    width: 290px;
}


