html {
	height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
}

h1 {
    margin-bottom: 25px;
}

.emphasy {
    color: rgb(35, 146, 35);
    font-style: normal;
    font-weight: bold;
}

section.top {
    border-bottom: 5px solid gray;
    background-color: #fff;
}

.top-container {
    margin-bottom: 30px;
    background-color: #fff;
    padding-top: 50px;
    padding-left: 100px;
    
}

section.bottom {
    margin-top: 50px;
    background-color: #fff;
}

p {
    background-color: #fff;
}