* {
	text-decoration: none;
	list-style: none;
	color: black;
	font-family: 'Courier New', Courier, monospace;
}

html, body {
	height: 100%;
}

ol {
	width: 400px;
	display: flex;
	flex-direction: column;
	background-color: hsla(0, 0%, 99%, 0.884);
}

.message {
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
}

.sent {
	background-color: blue;
	color: #fff;
	align-self: flex-end;
}

.received {
	background-color: lightgrey;
	align-self: flex-start;
}