.flourish {
  opacity: 0.5;
  position: absolute;
  top: 20px;
  left: -5px;
  width: 150px;
  height: 150px;
  background: slateblue;
  border-radius: 50%;
}
.flourish.two {
  background: deeppink;
  left: 75px;
}

section {
  position: relative;
  border: 2px solid;
  padding: 32px;
  overflow: hidden;
}